

<div class="row">

    <div class="alert alert-info" >
        Me gustan : {{ meGustan }}
    </div>
  

    <div class="alert alert-info" *ngIf="temas.length === 0">
        No hay datos
    </div>
  
    <div class="col-md-4" *ngFor="let tema of temas; let i = index" >
        
       <app-tarjeta 
            [mostrarimagen]=false
            [titulo]="'Tema'"
            [numero]="i + 1"
            [dato]="tema"
            (eventoMeGusta)="eventoRecibido($event)"
       ></app-tarjeta>

    </div>

    


    
</div>